In [33]:
import numpy as np
import pandas as pd
import yfinance as yf
from pandas_datareader import data as pdr
yf.pdr_override()

In [34]:
df1=pdr.get_data_yahoo('HYMTF','2010-01-01','2020-12-31')
df1=df1[['Open','Close']]
df1=df1.rename(columns={'Open':'Open_HYMTF','Close':'Close_HYMTF'})
df2=pdr.get_data_yahoo('TM','2010-01-01','2020-12-31')
df2=df2[['Open','Close']]
df2=df2.rename(columns={'Open':'Open_Toyota','Close':'Close_Toyota'})
df3=pdr.get_data_yahoo('F','2010-01-01','2020-12-31')
df3=df3[['Open','Close']]
df3=df3.rename(columns={'Open':'Open_Ford','Close':'Close_Ford'})
df4=pdr.get_data_yahoo('GM','2010-01-01','2020-12-31')
df4=df4[['Open','Close']]
df4=df4.rename(columns={'Open':'Open_GMC','Close':'Close_GMC'})
df5=pdr.get_data_yahoo('MZDAY','2010-01-01','2020-12-31')
df5=df5[['Open','Close']]
df5=df5.rename(columns={'Open':'Open_MZDAY','Close':'Close_MZDAY'})
df=df1.merge(df2,on='Date')
df=df.merge(df3,on='Date')
df=df.merge(df4,on='Date')
df=df.merge(df5,on='Date')
df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open_HYMTF,Close_HYMTF,Open_Toyota,Close_Toyota,Open_Ford,Close_Ford,Open_GMC,Close_GMC,Open_MZDAY,Close_MZDAY
Date,,,,,,,,,,
2010-11-18,29.400000,29.400000,77.360001,77.290001,16.77,16.120001,35.000000,34.189999,6.5375,6.5375
2010-11-19,29.760000,29.760000,78.040001,78.470001,16.02,16.280001,34.150002,34.259998,6.5375,6.5375
2010-11-22,29.760000,29.760000,78.360001,78.470001,16.26,16.200001,34.200001,34.080002,6.5375,6.5375
2010-11-23,26.250000,26.500000,77.410004,77.430000,16.01,15.700000,33.950001,33.250000,7.0300,7.0300
2010-11-24,28.049999,28.750000,78.470001,78.930000,15.95,15.950000,33.730000,33.480000,7.0300,7.0300
...,...,...,...,...,...,...,...,...,...,...
2020-12-23,40.740002,40.740002,150.639999,151.160004,8.82,8.990000,41.180000,42.450001,3.1200,3.2700
2020-12-24,40.549999,40.740002,150.179993,150.470001,9.01,8.860000,42.060001,41.580002,3.3900,3.3100
2020-12-28,40.980000,41.240002,153.100006,152.600006,8.92,8.890000,42.000000,41.660000,3.1900,3.2700
2020-12-29,41.779999,41.980000,155.000000,153.339996,8.93,8.820000,41.889999,41.570000,3.2300,3.3100
2020-12-30,42.680000,42.500000,154.509995,154.089996,8.83,8.860000,41.650002,41.840000,3.4000,3.3000

In [35]:
three_years=df.loc['2010-01-01':'2012-12-31']
three_years=three_years[['Close_HYMTF', 'Close_Toyota','Close_Ford','Close_GMC','Close_MZDAY']]
three_years['Return_Hyundai']=three_years['Close_HYMTF'].pct_change()
three_years['Return_Toyota']=three_years['Close_Toyota'].pct_change()
three_years['Return_Ford']=three_years['Close_Ford'].pct_change()
three_years['Return_GMC']=three_years['Close_GMC'].pct_change()
three_years['Return_MZDAY']=three_years['Close_MZDAY'].pct_change()
three_years=three_years[['Return_Hyundai','Return_Toyota','Return_Ford','Return_GMC','Return_MZDAY']]
three_years=three_years.dropna()
three_years

,Return_Hyundai,Return_Toyota,Return_Ford,Return_GMC,Return_MZDAY
Date,,,,,
2010-11-19,0.012245,0.015267,0.009926,0.002047,0.000000
2010-11-22,0.000000,0.000000,-0.004914,-0.005254,0.000000
2010-11-23,-0.109543,-0.013253,-0.030864,-0.024355,0.075335
2010-11-24,0.084906,0.019372,0.015924,0.006917,0.000000
2010-11-26,-0.067826,-0.007222,0.009404,0.009558,0.000000
...,...,...,...,...,...
2012-12-24,0.000000,0.004517,0.045531,0.012445,0.000000
2012-12-26,-0.012346,-0.008993,0.031452,-0.001446,0.000000
2012-12-27,0.001562,0.024126,-0.002346,0.012310,0.090547
2012-12-28,-0.059282,-0.005079,0.008621,-0.003934,0.052219
2012-12-31,0.000000,0.012816,0.006216,0.035188,0.000000

In [36]:
matrix_of_return_values = np.asmatrix(three_years) # تحويل البيانات اللي في تو ييرز الى ماتريكس (صفوف تساوي قيمة اعمدتها لتسهيل اجراء العمليات الحسابية عليها) بدل شكلها الحالي 3 اعمدة وصفوف كثيرة
matrix_of_return_values = matrix_of_return_values.T # حسب مقلوبها عشان يجري عليها العمليات الحسابية T resymbol Transpose

no_of_asset_classes = 5 # عدد شركاتي 2 ابل ومايكروسوفت 
no_of_portfolios = 10000 #no. of portof to test 
collection_of_random_asset_weights = [] # نسبة النقود اللي المفروض استثمرها في ابل وما يكروسوفت كلا على حده , كم اعطي ابل وكم اعطي مايكروسوفت
portfolio_means = [] # (apple wight + msft wight ) then took the avg ||  it means (reward)
portfolio_standard_deviations = [] # risk 
portfolio_sharpe_ratios = []  # reward \risk

def get_random_asset_weights(no_of_asset_classes):   # تطلع لي كم المفروض استثمر في كل شركة
    random_asset_weights = np.random.rand(no_of_asset_classes)
    random_asset_weights /= sum(random_asset_weights)
    random_asset_weights = np.asmatrix(random_asset_weights)
    return random_asset_weights 

def get_portfolio_statistics(asset_weights, matrix_of_return_values):
    asset_means = np.asmatrix(np.mean(matrix_of_return_values, axis = 1))
    asset_covariances = np.asmatrix(np.cov(matrix_of_return_values))
    portfolio_mean = asset_weights * asset_means
    portfolio_mean = portfolio_mean.item()
    portfolio_standard_deviation = np.sqrt(asset_weights * asset_covariances * asset_weights.T)
    portfolio_standard_deviation = portfolio_standard_deviation.item()
    portfolio_sharpe_ratio = portfolio_mean / portfolio_standard_deviation
    return portfolio_mean, portfolio_standard_deviation, portfolio_sharpe_ratio
while len(collection_of_random_asset_weights) < no_of_portfolios:
    random_asset_weights = get_random_asset_weights(no_of_asset_classes)
    collection_of_random_asset_weights.append(random_asset_weights) 
    portfolio_means.append(get_portfolio_statistics(random_asset_weights, matrix_of_return_values)[0])
    portfolio_standard_deviations.append(get_portfolio_statistics(random_asset_weights, matrix_of_return_values)[1])
    portfolio_sharpe_ratios.append(get_portfolio_statistics(random_asset_weights, matrix_of_return_values)[2])
    
index = portfolio_sharpe_ratios.index(max(portfolio_sharpe_ratios))
print(collection_of_random_asset_weights[index])

[[0.31117504 0.60251234 0.04566638 0.00472133 0.03592491]]

In [37]:
# one scenario mr Brent made he will put 75% of his money in apple and 25% in microsoft
# def get_random_asset_weights(no_of_asset_classes): هنا هو اختار الويجت بنفسه بينما نقدر نستخدم 
# اللي عرفناها في سيل 4 قبل 
some_weights = pd.DataFrame({"AAPL": [0.75], "MSFT": [0.25]}, index = [three_years.last_valid_index()]) #3معناته خلي الاندكس هنا بتاريخ اخر يوم استثمرت فيه بنهاية التو ييرز , السنتين اللي عرفتها قبل في خلية رقم 
some_weights
# ملاحظة هذه ماتريكس الويجت او الوزن اي النسبة المئوية اللي استثمر فيها مو مبلغ النقود او الفلوس الفعلية

            HYMTF   TM    F  GMC  MZDAY
2012-12-31    0.2  0.2  0.2  0.2    0.2

In [38]:

capital = 10000 
allocations = capital*some_weights
allocations

             HYMTF      TM       F     GMC   MZDAY
2012-12-31  2000.0  2000.0  2000.0  2000.0  2000.0

In [39]:
# looking for how many shares we're going to buy with the 75000 Apple and 25000 microsoft
print(df['Close_AAPL'].loc[some_weights.last_valid_index()]) # the stock prise
print(df['Close_MSFT'].loc[some_weights.last_valid_index()])
#remember, a data frame is just an organizational tool for data. by copying no of shares from allocations, we are copying its organization - 
#then replacing the data to be what we want. he is copying the organizational work he already did :)
no_of_shares = allocations
no_of_shares['AAPL'].iloc[0] /= df['Close_AAPL'].loc[some_weights.last_valid_index()]
no_of_shares['MSFT'].iloc[0] /= df['Close_MSFT'].loc[some_weights.last_valid_index()]

#the for loop in there is doing exactly that (just in one line instead of typing it out and doing it twice)
#no_of_shares = allocations / df[[f'Close_{sym}' for sym in some_weights.columns]].loc[some_weights.last_valid_index()].values
no_of_shares

#كل اللي فات كان برمجة محفظة استثمارية واحدة عدد معين من الاسهم

30.149999618530273
93.25

                HYMTF         TM           F        GMC      MZDAY
2012-12-31  66.334993  21.447721  154.440157  69.372182  397.02234

In [60]:
#هنا انسى انو الموضوع موضوع محفظة استثمارية خاصة في واعاملها معاملة الفند (ما اعرف يرمز لايش بالعربي) لكن معناه انو انا اخذ فلوس الناس واستثمر فيها 
seven_years = df.loc['2012-12-31':] #اللي فهمته انو فنده صالح ل8 سنين من التاريخ المذكور , فاطبع كل الصفوف من تاريخ 31-12-2012 الى النهاية الصفوف
seven_years['My_Fund_Open'] = seven_years['Open_HYMTF']*no_of_shares['HYMTF'].iloc[0] + seven_years['Open_Toyota']*no_of_shares['TM'].iloc[0]+ seven_years['Open_Ford']*no_of_shares['F'].iloc[0] + seven_years['Open_GMC']*no_of_shares['GMC'].iloc[0] + seven_years['Open_MZDAY']*no_of_shares['MZDAY'].iloc[0] 
# كم عدد الاسهم اللي املكها يوم ما كان اوبن ابل بهذا السعر في التاريخ المذكور (الاندكس هنا هو التاريخ)
# لاحظوا هنا اكرر العملية كل يوم بيومه
seven_years['My_Fund_Close'] = seven_years['Close_HYMTF']*no_of_shares['HYMTF'].iloc[0] + seven_years['Close_Toyota']*no_of_shares['TM'].iloc[0]+ seven_years['Close_Ford']*no_of_shares['F'].iloc[0]+ seven_years['Close_GMC']*no_of_shares['GMC'].iloc[0]+ seven_years['Close_MZDAY']*no_of_shares['MZDAY'].iloc[0]
# نفس الشي بس يوم ما كان تقفيلة ابل بالسعر بالتاريخ المذكور
seven_years=seven_years[['My_Fund_Open', 'My_Fund_Close']]
seven_years

<ipython-input-60-1f58da9a1466>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seven_years['My_Fund_Open'] = seven_years['Open_HYMTF']*no_of_shares['HYMTF'].iloc[0] + seven_years['Open_Toyota']*no_of_shares['TM'].iloc[0]+ seven_years['Open_Ford']*no_of_shares['F'].iloc[0] + seven_years['Open_GMC']*no_of_shares['GMC'].iloc[0] + seven_years['Open_MZDAY']*no_of_shares['MZDAY'].iloc[0]
<ipython-input-60-1f58da9a1466>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seven_years['My_Fund_Close'] = seven_years['Close_HYMTF']*no_of_shares['HYMTF'].iloc[0] + seven_years['Close_Toyota']*no_of_shares['TM'].iloc[0]+ seven_years['Close_Ford']*no_of_shares['F'].iloc[0]+ seven_years['Close_GMC']*no_of_shares['GMC'].iloc[0]+ seven_years['Close_MZDAY']*no_of_shares['MZDAY'].iloc[0]

            My_Fund_Open  My_Fund_Close
Date
2012-12-31   9889.009300   10000.000000
2013-01-02  10378.508205   10380.402506
2013-01-03  10292.754554   10383.125777
2013-01-04  10367.409253   10360.526776
2013-01-07  10244.241631   10235.590065
...                  ...            ...
2020-12-23  11390.990677   11576.054514
2020-12-24  11566.108196   11496.705450
2020-12-28  11559.793346   11569.858766
2020-12-29  11663.406162   11633.644084
2020-12-30  11747.998833   11705.162003

[2015 rows x 2 columns]

In [63]:
from ActMng import AccountManager

ModuleNotFoundError: No module named 'ActMng'

In [ ]:
starting_capital = 100000
allocation = 0.8

symbol = 'HYMTF','TM'

long_trend_days = 12
short_trend_days = 6

In [ ]:
def fetch_data(symbol:str='SPY', start_date:str='2020', end_date:str=None):
    
    if end_date is None:
        end = pandas.Timestamp.now()
    else:
        end = end_date
    
    return pdr.get_data_yahoo(symbol, pandas.Timestamp(start_date), pandas.Timestamp(end))[['Open','Close']]
df = fetch_data(symbol)

In [42]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
# ناديتها عشان امل logistic regression

In [43]:
short_time = 5
long_time = 15
seven_years['Close_Short_Rolling'] = seven_years['My_Fund_Close'].rolling(window = short_time).mean() #طلع لي متوسط 5 ايام من قبل التاريخ الحالي او الصف الحالي
seven_years['Close_Long_Rolling'] = seven_years['My_Fund_Close'].rolling(window = long_time).mean() #طلع لي متوسط 15 يوم من قبل التاريخ الحالي او الصف الحالي
seven_years = seven_years.dropna()
seven_years

<ipython-input-43-298f5ae4827a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seven_years['Close_Short_Rolling'] = seven_years['My_Fund_Close'].rolling(window = short_time).mean() #طلع لي متوسط 5 ايام من قبل التاريخ الحالي او الصف الحالي
<ipython-input-43-298f5ae4827a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seven_years['Close_Long_Rolling'] = seven_years['My_Fund_Close'].rolling(window = long_time).mean() #طلع لي متوسط 15 يوم من قبل التاريخ الحالي او الصف الحالي

,Open_HYMTF,Close_HYMTF,Open_Toyota,Close_Toyota,Open_Ford,Close_Ford,Open_GMC,Close_GMC,Open_MZDAY,Close_MZDAY,My_Fund_Open,My_Fund_Close,Close_Short_Rolling,Close_Long_Rolling
Date,,,,,,,,,,,,,,
2013-01-22,32.500000,32.500000,94.370003,94.830002,14.06,14.17,29.190001,28.629999,6.0625,6.0275,10783.259397,10757.369455,10762.477632,10484.107060
2013-01-23,32.250000,32.250000,94.199997,94.449997,14.00,13.88,28.580000,28.570000,6.0275,6.0275,10697.550143,10683.685534,10750.753298,10529.686096
2013-01-24,31.500000,31.500000,94.989998,95.739998,13.82,13.87,28.590000,28.780001,6.4350,6.4325,10799.423600,10835.419602,10789.709545,10560.020569
2013-01-25,31.000000,31.000000,96.449997,96.099998,13.83,13.68,28.959999,29.070000,6.4250,6.4250,10820.811703,10797.770051,10789.349966,10587.663520
2013-01-28,31.000000,31.000000,95.199997,94.779999,13.49,13.78,29.049999,28.830000,6.3575,6.3475,10720.936828,10737.484317,10762.345792,10612.794023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-23,40.740002,40.740002,150.639999,151.160004,8.82,8.99,41.180000,42.450001,3.1200,3.2700,11390.990677,11576.054514,11543.623554,11518.519654
2020-12-24,40.549999,40.740002,150.179993,150.470001,9.01,8.86,42.060001,41.580002,3.3900,3.3100,11566.108196,11496.705450,11500.355083,11527.100389
2020-12-28,40.980000,41.240002,153.100006,152.600006,8.92,8.89,42.000000,41.660000,3.1900,3.2700,11559.793346,11569.858766,11500.133190,11537.690285
2020-12-29,41.779999,41.980000,155.000000,153.339996,8.93,8.82,41.889999,41.570000,3.2300,3.3100,11663.406162,11633.644084,11542.687741,11548.218517
2020-12-30,42.680000,42.500000,154.509995,154.089996,8.83,8.86,41.650002,41.840000,3.4000,3.3000,11747.998833,11705.162003,11596.284963,11564.236289

In [44]:
#The testing set and training set can be thought of like homework and lecture.
#The lecture is curated and led by the teacher. 
#It isn't until the student does the homework on their own to see if they're right to see if the model is performing well :)

In [45]:
X = seven_years.copy()
y = np.where(X.My_Fund_Close.shift(-1) >= X.My_Fund_Close, 1, -1)  # the actual Y
index = int(0.7*len(X)) # هنا بياناتي او صفوفي تتقسم لتريننج وتستنج
X_train = X.iloc[:index]
X_test = X.iloc[index:]
y_train = y[:index]
y_test = y[index:]
logistic = LogisticRegression()
logistic = logistic.fit(X_train, y_train)
predictions = logistic.predict(X_test) #Predicted Y
print(metrics.confusion_matrix(y_test, predictions))
print(logistic.score(X_test, y_test)) # النسبة المئوية لكم مرة كان توقعي صح سواء بارتفاع او انخفاض

[[297   0]
 [304   0]]
0.49417637271214643

In [49]:
results = X_test.copy()
results['Close_Diff'] = X_test.My_Fund_Close.shift(-1) - X_test.My_Fund_Close # الفرق بين تو كلوزين ورا بعض , عشان اشوف ربحت ولا خسرت بالموجب ربحت والسالب خسرت
results['Predictions'] = predictions # توقعاتي اللي ظهرت من الموديل حقي
results['True_Label'] = y_test # قيم الداتا الحقيقة 
results['Daily_Return'] = results['Close_Diff']*results['Predictions'] # قيمة الخسارة او الربح اليومية
results['Cumulative_Return'] = results['Daily_Return'].cumsum() #رصيدي من يوم ما بديت التداول كمبلغ
results.dropna(inplace = True)

In [51]:
results

,Open_HYMTF,Close_HYMTF,Open_Toyota,Close_Toyota,Open_Ford,Close_Ford,Open_GMC,Close_GMC,Open_MZDAY,Close_MZDAY,My_Fund_Open,My_Fund_Close,Close_Short_Rolling,Close_Long_Rolling,Close_Diff,Predictions,True_Label,Daily_Return,Cumulative_Return
Date,,,,,,,,,,,,,,,,,,,
2018-08-13,35.080002,35.080002,124.059998,123.500000,9.74,9.46,36.590000,36.160000,5.86,5.86,11356.962102,11271.878168,11461.839323,11691.170295,-11.971093,-1,-1,11.971093,11.971093
2018-08-14,35.080002,35.080002,123.919998,123.449997,9.51,9.50,36.250000,36.200001,5.82,5.81,11278.970837,11259.907075,11387.415953,11643.371423,-134.935188,-1,-1,134.935188,146.906281
2018-08-15,34.549999,34.549999,122.559998,121.849998,9.46,9.45,35.820000,35.939999,5.80,5.71,11169.151669,11124.971887,11300.690834,11596.878148,150.497912,-1,1,-150.497912,-3.591631
2018-08-16,35.540001,35.540001,122.000000,122.760002,9.50,9.51,36.180000,36.290001,5.71,5.79,11218.232309,11275.469799,11257.505669,11568.936107,19.603725,-1,1,-19.603725,-23.195356
2018-08-17,35.540001,35.540001,122.629997,123.279999,9.53,9.55,36.080002,36.380001,5.77,5.78,11253.261683,11295.073524,11245.460091,11532.421265,41.184671,-1,1,-41.184671,-64.380027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-22,39.000000,40.500000,151.449997,150.770004,8.98,8.79,41.349998,40.900002,3.37,3.33,11428.699411,11437.175893,11566.562383,11498.568270,138.878621,-1,1,-138.878621,-304.176346
2020-12-23,40.740002,40.740002,150.639999,151.160004,8.82,8.99,41.180000,42.450001,3.12,3.27,11390.990677,11576.054514,11543.623554,11518.519654,-79.349064,-1,-1,79.349064,-224.827282
2020-12-24,40.549999,40.740002,150.179993,150.470001,9.01,8.86,42.060001,41.580002,3.39,3.31,11566.108196,11496.705450,11500.355083,11527.100389,73.153316,-1,1,-73.153316,-297.980598
2020-12-28,40.980000,41.240002,153.100006,152.600006,8.92,8.89,42.000000,41.660000,3.19,3.27,11559.793346,11569.858766,11500.133190,11537.690285,63.785317,-1,1,-63.785317,-361.765916
2020-12-29,41.779999,41.980000,155.000000,153.339996,8.93,8.82,41.889999,41.570000,3.23,3.31,11663.406162,11633.644084,11542.687741,11548.218517,71.517919,-1,1,-71.517919,-433.283835